@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * To hide the default marker of the summary element on Safari
 */
summary.marker\:content-none::-webkit-details-marker {
	display: none;
}

/**
 * To prevent the background scrolling when the navigation overlay is opened
 */
html:has(details#breadcrumbs[open]) {
	overflow: hidden;
}
